@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --tab-selected: 0 0% 91%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --active-tab-bg: rgba(144, 237, 140, 0.1);
    --active-tab-color: rgba(26, 137, 21, 1);
    --scrollbar-bg: #e4e4e7;
    --scrollbar-color: #fafafa;
    --text-color: black;
    --inputbg-color: white;
    --new-inputbg-color: #F8F8FB;
    --background-color: rgba(249, 250, 252, 1);

    /* Custom Table Variables */
    --table-border-color: rgba(228, 228, 231, 1);
    --row-hover-color: rgb(243, 243, 243);
    --row-even-color: rgb(255, 255, 255);
    --row-odd-color: rgb(246, 246, 246);
    --table-loading-bg: #ffffff;
    --table-freeze-separator: rgb(219, 219, 219);

    /* Receive Form Page */

    --tab-info-text: rgba(60, 97, 53, 1);
    --form-border-color: #e4e4e7;

    /*Dashboard*/
    --dashboard-secondary: white;
    --dashboard-secondary-border: #E4E4E7;
    --dashboard-text: #334155;


    /* RFQ */

    --rfq-input-bg: #2b5d15;


    /* PO List */

    /* Po List */
    --po-list-approved: rgba(241, 255, 244, 1);
    --po-list-pending: rgba(245, 245, 245, 1);
    --po-list-rejected: rgba(255, 241, 241, 1);

    --po-list-approved-color: rgba(90, 128, 80, 1);
    --po-list-pending-color: rgba(86, 86, 86, 1);
    --po-list-rejected-color: rgba(128, 80, 80, 1);


    /* Settings */
    --settings-tab-text: #7E80A5;


    /* Live Stock  */

    --status-critical: rgb(253, 237, 237);
    /* light red */
    --status-short: rgb(255, 243, 235);
    /* light orange */
    --status-ok: #f7fff3;
    /* light green */
    --status-default: rgb(255, 250, 240);
    /* light cream */


    /* Background colors */
    --bg-critical: rgb(252, 226, 226);
    /* light red */
    --bg-short: rgb(255, 237, 225);
    /* light orange */
    --bg-ok: rgb(236, 249, 232);
    /* light green */
    --bg-default: rgb(255, 248, 226);
    /* light yellow */

    /* Text colors */
    --text-critical: red;
    --text-short: orange;
    --text-ok: rgb(40, 129, 0);
    /* dark green */
    --text-default: #eab700;
    /* amber/yellow */
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --tab-selected: 0 0% 22%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --active-tab-bg: #27272a;
    --active-tab-color: white;
    --scrollbar-bg: #343434;
    --scrollbar-color: #18181b;
    --inputbg-color: rgb(0, 0, 0);
    --new-inputbg-color: rgb(29, 29, 29);
    --text-color: white;
    --background-color: rgb(16, 16, 16);

    /* Custom Table Variables */
    --table-border-color: rgb(80, 80, 80);
    --row-hover-color: rgb(50, 50, 50);
    --row-even-color: rgba(10, 10, 10);
    --row-odd-color: rgb(28, 28, 28);
    --table-loading-bg: #000000;
    --table-freeze-separator: rgb(73, 73, 73);

    /* Receive Form Page */
    --tab-info-text: white;
    --form-border-color: #202020;

    /* Report An Issue Page */
    --report-an-issue-backgroung-page: #1C1C1C --report-an-issue-header: #4CAF50;
    --report-an-issue-submit: #4CAF50;

    /*Notification*/
    --notifications-header: #FFFFFF;
    --notification-header-para: #BABDCF;
    --notification-email: #BABDCF;
    --notification-phone: #BABDCF;
    --notification-date-time: #BABDCF;

    /*Profile*/
    --profile-header: #FFFFFF;
    --profile-header-para: #BABDCF;
    --profile-email: #BABDCF;
    --profile-phone: #BABDCF;

    /*Dashboard*/
    --dashboard-background: rgba(10, 10, 10);
    --dashboard-secondary: rgb(28, 28, 28);
    --dashboard-secondary-border: rgb(41, 41, 41);

    --dashboard-text: #ffffff;

    --rfq-input-bg: none;


    /* Po List */
    --po-list-approved: rgba(241, 255, 244, 0.125);
    --po-list-pending: rgba(245, 245, 245, 0.025);
    --po-list-rejected: rgb(34, 4, 4);

    --po-list-approved-color: rgb(193, 255, 175);
    --po-list-pending-color: rgb(203, 203, 203);
    --po-list-rejected-color: rgb(255, 165, 165);


    /* Settings */
    --settings-tab-text: #c5c9ff;


    /* Live Stock  */

    --status-critical: none;
    /* light red */
    --status-short: none;
    /* light orange */
    --status-ok: none;
    /* light green */
    --status-default: none;
    /* light cream */

    /* Background colors */
    --bg-critical: rgba(255, 0, 0, 0.095);
    /* light red */
    --bg-short: rgba(255, 102, 0, 0.103);
    /* light orange */
    --bg-ok: rgba(60, 255, 0, 0.149);
    /* light green */
    --bg-default: rgba(255, 196, 0, 0.136);
    /* light yellow */

    /* Text colors */
    --text-critical: rgba(231, 7, 7, 1);
    --text-short: rgba(255, 124, 36, 1);
    --text-ok: rgb(66, 210, 0);
    /* dark green */
    --text-default: rgba(204, 153, 0, 1);
    /* amber/yellow */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

h1 {
  font-size: 2.5rem; /* ~40px */
}

h2 {
  font-size: 2rem; /* ~32px */
}

h3 {
  font-size: 1.75rem; /* ~28px */
}

h4 {
  font-size: 1.5rem; /* ~24px */
}

h5 {
  font-size: 1.25rem; /* ~20px */
}

h6 {
  font-size: 1rem; /* ~16px */
}
